<script>
	import Header from '../components/Header.svelte';
	import Background from '../components/Background.svelte';
	import Container from '../components/Container.svelte';
	import Form from '../components/Form.svelte';
	import List from '../components/List.svelte';
	import { todos } from '../store/store';
</script>

<Background />
<Container>
	<Header />
	<Form />
	<List />
</Container>
