@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	height: auto;
	line-height: 1.5;
	font-family: 'Josefin Sans', sans-serif;
	font-size: funcs.rem(18);
}
a,
a:visited,
a:focus {
	text-decoration: none;
	color: unset;
	@extend %pointer;
}
