//Primary

$bright-blue: hsl(220, 98%, 61%);
// - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//Neutral

//Light Theme

$light_very-light-gray: hsl(0, 0%, 98%);
$light_very-light-grayish-blue: hsl(236, 33%, 92%);
$light_light-grayish-blue: hsl(233, 11%, 84%);
$light_dark-grayish-blue: hsl(236, 9%, 61%);
$light_very-dark-grayish-blue: hsl(235, 19%, 35%);

//Dark Theme

$dark_very-dark-blue: hsl(235, 21%, 11%);
$dark_very-dark-des-blue: hsl(235, 24%, 19%);
$dark_light-grayish-blue: hsl(234, 39%, 85%);
$dark_light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark_dark-grayish-blue: hsl(234, 11%, 52%);
$dark_very-dark-grayish-blue: hsl(233, 14%, 35%);
$dark_very-darker-grayish-blue: hsl(237, 14%, 26%);
