@mixin flexer($ai: start, $jc: center, $orientation: row) {
	@extend %flex;
	align-items: $ai;
	justify-content: $jc;
	flex-direction: $orientation;
}

%flex {
	display: flex;
}

%pointer {
	cursor: pointer;
}

%transition {
	transition: background 0.5s, color 0.5s;
}

@mixin pseudo($display: block, $pos: absolute, $content: '', $w: auto, $h: auto) {
	content: $content;
	display: $display;
	position: $pos;
	width: $w;
	height: $h;
}

@mixin media($width, $type: min) {
	$breakpoints: (
		'phone': 400px,
		'phone-wide': 480px,
		'phablet': 560px,
		'tablet-small': 640px,
		'tablet': 768px,
		'tablet-wide': 1024px,
		'desktop': 1248px,
		'desktop-wide': 1440px
	);

	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
