<script>
	import { isNight, todos } from './../store/store.js';
	import iconCheck from '/src/images/icon-check.svg';
	import { v4 as uuidv4 } from 'uuid';
	let toBeCompleted = false;
	let value = '';

	const handleForm = (e) => {
		e.preventDefault();
		const newTodo = {
			id: uuidv4(),
			text: value,
			completed: toBeCompleted
		};
		todos.set([...$todos, newTodo]);

		//Reset Form
		value = '';
		toBeCompleted = false;
	};
</script>

<form class="form {$isNight ? 'dark' : 'light'}" on:submit={handleForm}>
	<input type="checkbox" name="completed" id="completed" bind:checked={toBeCompleted} />
	<label for="completed">
		{#if toBeCompleted}
			<img src={iconCheck} alt="icon check" />
		{/if}
	</label>
	<input type="text" placeholder="Create a new todo" bind:value />
</form>
