<script>
	import { isNight } from './../store/store.js';
	import sunIcon from '/src/images/icon-sun.svg';
	import moonIcon from '/src/images/icon-moon.svg';

	const changeWeather = () => {
		isNight.set(!$isNight);
	};
</script>

<header class="header">
	<h1 class="title">todo</h1>
	<div class="weather">
		<img src={$isNight ? moonIcon : sunIcon} alt="" on:click={changeWeather} />
	</div>
</header>
