<script>
	import Todo from './Todo.svelte';
	import { isNight, todos, whatToShow } from './../store/store.js';
	import NoTodo from './NoTodo.svelte';

	let todosToShow = $todos;
	let currentFilter;

	const setFilter = (params) => {
		//Set everything to false in the store
		whatToShow.set({
			all: false,
			active: false,
			completed: false
		});
		for (const item of Object.entries($whatToShow)) {
			const [key, value] = item;
			if (key == params) {
				whatToShow.set({ ...$whatToShow, [key]: !value });
			}
		}
	};

	const clearCompleted = () => {
		console.log('I clicked clear');
		todos.set([...$todos.filter((todo) => todo.completed == false)]);
	};

	$: {
		for (const [key, value] of Object.entries($whatToShow)) {
			// Get the key where the value is true
			if (value == true) currentFilter = key;
		}
		console.log("I'm gonna show " + currentFilter);

		switch (currentFilter) {
			case 'all':
				todosToShow = $todos;
				break;

			case 'active':
				todosToShow = $todos.filter((todo) => todo.completed == false);
				break;

			case 'completed':
				todosToShow = $todos.filter((todo) => todo.completed != false);
				break;

			default:
				break;
		}
	}
</script>

<div class="list {$isNight ? 'dark' : 'light'}">
	{#if todosToShow.length > 0}
		{#each todosToShow as todo}
			<Todo {todo} />
		{/each}
	{:else}
		<NoTodo />
	{/if}
	<div class="actions {$isNight ? 'dark' : 'light'}">
		<div class="count">{todosToShow.length} {todosToShow.length == 1 ? 'item' : 'items'} left</div>
		<div class="choice">
			<!-- Create Filters using the whatToShow store variable -->
			{#each Object.entries($whatToShow) as [key, value]}
				<div class={value ? 'active' : ''}>
					<label for="checker_{key}">{key[0].toUpperCase()}{key.slice(1)}</label>
					<input
						type="checkbox"
						name="checker_{key}"
						id="checker_{key}"
						on:change={() => setFilter(key)}
					/>
				</div>
			{/each}
		</div>
		<div class="clear" on:click={clearCompleted}>Clear Completed</div>
	</div>
</div>
<p class="drag {$isNight ? 'dark' : 'light'}">Drag and drop to reorder list</p>
