<script>
	import { todos } from './../store/store.js';
	import iconCheck from '/src/images/icon-check.svg';
	import iconCross from '/src/images/icon-cross.svg';

	export let todo;
	let index = $todos.indexOf(todo);
	let crossShouldAppear = false;

	const removeTodo = (index) => {
		console.log('test');
		todos.set([...$todos.filter(($todos) => $todos.id !== index)]);
	};

	// Check if user is on mobile device
	const deviceType = () => {
		const ua = navigator.userAgent;
		if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
			return 'tablet';
		} else if (
			/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(
				ua
			)
		) {
			return 'mobile';
		}
		return 'desktop';
	};

	const toggleCrossShouldAppear = () => {
		if (deviceType() == 'mobile' || deviceType() == 'tablet') {
			crossShouldAppear = !crossShouldAppear;
		}
	};
</script>

<div
	class="todo"
	on:mouseenter={() => (crossShouldAppear = true)}
	on:mouseleave={() => (crossShouldAppear = false)}
	on:click={() => toggleCrossShouldAppear()}
>
	<div>
		<input
			type="checkbox"
			name="todo_completed_{todo.id.toLowerCase()}"
			id="todo_completed_{todo.id.toLowerCase()}"
			bind:checked={$todos[index].completed}
		/>
		<label for="todo_completed_{todo.id.toLowerCase()}" class={todo.completed ? 'active' : ''}>
			{#if todo.completed}
				<img src={iconCheck} alt="Icon Check" />
			{/if}
		</label>
	</div>
	<p class={todo.completed && 'done'}>
		{todo.text}
	</p>
	{#if crossShouldAppear}
		<div class="cross">
			<img src={iconCross} alt="Icon Cross" on:click={() => removeTodo(todo.id)} />
		</div>
	{/if}
</div>
