@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.header, .form, .form label, .list .todo,
.list .no-todo, .list .todo div,
.list .no-todo div, .list .todo label,
.list .no-todo label, .actions, .actions .choice {
  display: flex;
}

.header .weather, .form label, .list .todo,
.list .no-todo, .list .todo label,
.list .no-todo label, .actions .choice div label, .actions .clear, a,
a:visited,
a:focus {
  cursor: pointer;
}

.container, .todo-app, .form, .list, .list .todo,
.list .no-todo, .actions, .drag {
  transition: background 0.5s, color 0.5s;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: auto;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
}

.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.container.light {
  background: #e4e5f1;
}
.container.dark {
  background: #161722;
}

.bg {
  width: 100%;
  height: clamp(12.5rem, 30vw, 18.75rem);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
}
.bg.light {
  background-image: url(/src/images/bg-desktop-light.jpg);
}
.bg.dark {
  background-image: url(/src/images/bg-desktop-dark.jpg);
}

.todo-app {
  height: 100%;
  width: 80%;
  max-width: 36.125rem;
  min-width: 20.625rem;
  position: relative;
  margin: 0 auto 0;
  padding: 4.375rem 0;
}
@media only screen and (max-width: 767px) {
  .todo-app {
    padding-top: 2.5rem;
  }
}

.header {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .header {
    margin-bottom: 1.25rem;
  }
}
.header .title {
  text-transform: uppercase;
  color: #fafafa;
  letter-spacing: 0.625rem;
  font-size: 1.875rem;
}
.form {
  width: 100%;
  height: 4.125rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 0.25rem;
  padding: 0 1.5625rem;
  margin-bottom: 1.5625rem;
}
@media only screen and (max-width: 767px) {
  .form {
    height: 2.9375rem;
    margin-bottom: 0.9375rem;
  }
}
.form.dark {
  background: #25273c;
}
.form.dark [type=text] {
  color: #fafafa;
}
.form.dark label {
  border: 1px solid #484b6a;
}
.form.light {
  background: #fafafa;
}
.form.light label {
  border: 1px solid #d2d3db;
}
.form [type=text] {
  outline: none;
  border: none;
  height: 100%;
  flex: 1;
  padding-left: 1.5625rem;
  font-size: 1rem;
  font-family: inherit;
  background: transparent;
  caret-color: #3a7bfd;
}
@media only screen and (max-width: 767px) {
  .form [type=text] {
    font-size: 0.8125rem;
  }
}
.form [type=checkbox] {
  display: none;
}
.form [type=checkbox]:checked + label {
  background-image: linear-gradient(to right, #57ddff, #c058f3);
}
.form label {
  width: 1.5625rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .form label {
    width: 1.25rem;
  }
}

.list {
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
}
.list .todo,
.list .no-todo {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 3.75rem;
  padding: 0 1.5625rem;
  background: transparent;
  color: inherit;
}
.list .todo div,
.list .no-todo div {
  width: 1.5625rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.list .todo p,
.list .no-todo p {
  flex: 1;
  padding-left: 1.5625rem;
  border: none;
  outline: none;
  font-size: 1rem;
}
@media only screen and (max-width: 767px) {
  .list .todo p,
.list .no-todo p {
    font-size: 0.8125rem;
  }
}
.list .todo p.done,
.list .no-todo p.done {
  text-decoration: line-through;
  color: #9394a5;
}
.list .todo [type=checkbox],
.list .no-todo [type=checkbox] {
  display: none;
}
.list .todo label.active,
.list .no-todo label.active {
  background-image: linear-gradient(to right, #57ddff, #c058f3);
}
.list .todo label,
.list .no-todo label {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  aspect-ratio: 1/1;
  background: transparent;
  border-radius: 50%;
}
.list.dark {
  background: #25273c;
  color: #fafafa;
}
.list.dark .todo,
.list.dark .no-todo {
  border-bottom: 1px solid #484b6a;
}
.list.dark label {
  border: 1px solid #484b6a;
}
.list.light {
  background: #fafafa;
}
.list.light .todo,
.list.light .no-todo {
  border-bottom: 1px solid #9394a5;
}
.list.light label {
  border: 1px solid #d2d3db;
}

.actions {
  height: 3.125rem;
  padding: 0 1.5625rem;
  width: 100%;
  background: transparent;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.actions.dark {
  background: #25273c;
  color: #9394a5;
}
.actions.dark :is(.choice div:not(.active), .clear):hover {
  color: #fafafa;
}
.actions.light {
  background: #fafafa;
  color: #9394a5;
}
.actions.light :is(.choice div:not(.active), .clear):hover {
  color: #161722;
}
.actions .choice {
  width: 10.625rem;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 767px) {
  .actions .choice {
    position: absolute;
    justify-content: space-evenly;
    top: calc(100% + 0.9375rem);
    left: 0;
    background: inherit;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
  }
}
.actions .choice div.active {
  color: #3a7bfd;
}
.actions .choice div input {
  display: none;
}
.actions .choice div label {
  border: none;
  outline: none;
}
.drag {
  text-align: center;
  font-size: 0.8125rem;
  width: 100%;
  margin-top: 3.125rem;
}
@media only screen and (max-width: 767px) {
  .drag {
    margin-top: 6.25rem;
  }
}
.drag.dark {
  color: #9394a5;
}
.drag.light {
  color: #9394a5;
}

/*# sourceMappingURL=style.css.map */
