@use './utils/index' as vars;

.container {
	min-height: 100vh;
	height: 100%;
	width: 100%;

	@extend %transition;

	&.light {
		background: vars.$light_very-light-grayish-blue;
	}

	&.dark {
		background: vars.$dark_very-dark-blue;
	}
}

.bg {
	width: 100%;
	height: clamp(vars.rem(200), 30vw, vars.rem(300));
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 0;

	&.light {
		background-image: url(/src/images/bg-desktop-light.jpg);
	}

	&.dark {
		background-image: url(/src/images/bg-desktop-dark.jpg);
	}
}

.todo-app {
	height: 100%;
	width: 80%;
	max-width: vars.rem(578);
	min-width: vars.rem(330);
	position: relative;
	margin: 0 auto 0;
	padding: vars.rem(70) 0;
	@extend %transition;

	@include vars.media(tablet, max) {
		padding-top: vars.rem(40);
	}
}

.header {
	@include vars.flexer(center, space-between);
	margin-bottom: vars.rem(40);

	@include vars.media(tablet, max) {
		margin-bottom: vars.rem(20);
	}

	.title {
		text-transform: uppercase;
		color: vars.$light_very-light-gray;
		letter-spacing: vars.rem(10);
		font-size: vars.rem(30);
	}

	.weather {
		@extend %pointer;
	}
}

.form {
	width: 100%;
	height: vars.rem(66);
	@include vars.flexer(center, center);
	border-radius: vars.rem(4);
	padding: 0 vars.rem(25);
	margin-bottom: vars.rem(25);
	@extend %transition;

	@include vars.media(tablet, max) {
		height: vars.rem(47);
		margin-bottom: vars.rem(15);
	}

	&.dark {
		background: vars.$dark_very-dark-des-blue;

		[type='text'] {
			color: vars.$light_very-light-gray;
		}

		label {
			border: 1px solid vars.$light_very-dark-grayish-blue;
		}
	}

	&.light {
		background: vars.$light_very-light-gray;

		label {
			border: 1px solid vars.$light_light-grayish-blue;
		}
	}

	[type='text'] {
		outline: none;
		border: none;
		height: 100%;
		flex: 1;
		padding-left: vars.rem(25);
		font-size: vars.rem(16);
		font-family: inherit;
		background: transparent;
		caret-color: vars.$bright-blue;

		@include vars.media(tablet, max) {
			font-size: vars.rem(13);
		}
	}
	[type='checkbox'] {
		display: none;
	}
	[type='checkbox']:checked + label {
		background-image: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	}
	label {
		width: vars.rem(25);
		@include vars.flexer(center, center);
		aspect-ratio: 1 / 1;
		background: transparent;
		border-radius: 50%;
		@extend %pointer;

		@include vars.media(tablet, max) {
			width: vars.rem(20);
		}
	}
}

.list {
	width: 100%;
	border-radius: vars.rem(4);
	@extend %transition;
	position: relative;

	.todo,
	.no-todo {
		@include vars.flexer(center, center);
		height: vars.rem(60);
		padding: 0 vars.rem(25);
		background: transparent;
		color: inherit;
		@extend %pointer;
		@extend %transition;

		div {
			width: vars.rem(25);
			height: 100%;
			@include vars.flexer(center, center);
		}

		p {
			flex: 1;
			padding-left: vars.rem(25);
			border: none;
			outline: none;
			font-size: vars.rem(16);

			@include vars.media(tablet, max) {
				font-size: vars.rem(13);
			}

			&.done {
				text-decoration: line-through;
				color: vars.$light_dark-grayish-blue;
			}
		}

		[type='checkbox'] {
			display: none;
		}
		label.active {
			background-image: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
		}
		label {
			width: 100%;
			@include vars.flexer(center, center);
			aspect-ratio: 1 / 1;
			background: transparent;
			border-radius: 50%;
			@extend %pointer;
		}
	}

	&.dark {
		background: vars.$dark_very-dark-des-blue;
		color: vars.$light_very-light-gray;

		.todo,
		.no-todo {
			border-bottom: 1px solid vars.$light_very-dark-grayish-blue;
		}

		label {
			border: 1px solid vars.$light_very-dark-grayish-blue;
		}
	}

	&.light {
		background: vars.$light_very-light-gray;

		.todo,
		.no-todo {
			border-bottom: 1px solid vars.$light_dark-grayish-blue;
		}

		label {
			border: 1px solid vars.$light_light-grayish-blue;
		}
	}
}

.actions {
	height: vars.rem(50);
	padding: 0 vars.rem(25);
	width: 100%;
	background: transparent;
	font-size: vars.rem(13);
	border-radius: vars.rem(4);
	user-select: none;
	@extend %transition;

	@include vars.flexer(center, space-between);

	&.dark {
		background: vars.$dark_very-dark-des-blue;
		color: vars.$light_dark-grayish-blue;

		:is(.choice div:not(.active), .clear):hover {
			color: vars.$light_very-light-gray;
		}
	}

	&.light {
		background: vars.$light_very-light-gray;
		color: vars.$light_dark-grayish-blue;

		// .choice div:not(.active):hover,
		// .clear:hover {
		// 	color: vars.$dark_very-dark-blue;
		// }
		:is(.choice div:not(.active), .clear):hover {
			color: vars.$dark_very-dark-blue;
		}
	}

	.choice {
		width: vars.rem(170);
		font-weight: bold;
		@include vars.flexer(center, space-between);

		@include vars.media(tablet, max) {
			position: absolute;
			justify-content: space-evenly;
			top: calc(100% + vars.rem(15));
			left: 0;
			background: inherit;
			width: 100%;
			height: vars.rem(40);
			border-radius: vars.rem(4);
		}

		div {
			&.active {
				color: vars.$bright-blue;
			}

			input {
				display: none;
			}

			label {
				@extend %pointer;
				border: none;
				outline: none;
			}
		}
	}

	.clear {
		@extend %pointer;
	}
}
.drag {
	text-align: center;
	font-size: vars.rem(13);
	width: 100%;
	@extend %transition;
	margin-top: vars.rem(50);

	@include vars.media(tablet, max) {
		margin-top: vars.rem(100);
	}

	&.dark {
		color: vars.$light_dark-grayish-blue;
	}

	&.light {
		color: vars.$light_dark-grayish-blue;
	}
}
